@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
}
.header {
    color: #ffffff;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    display: flex;
    gap: 32px;
}

.hero-text {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 32px;  
}

.hero-intro{
    width: 20vw;
    flex-wrap: wrap;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8
}

.hero-sub{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.hero-button {
    background: #3882f6; 
    color: #e5e7eb;
    border: 1px solid #3882f6;
    border-radius: 5px;
    padding: 8px 16px;
}
.hero-text-image {
    height: auto;
    width: 20vw;
}

.info-section {
    margin: 32px 0;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 32px;
}

.card-container{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card-img {
    border: 2px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 16px;
}

.card-text {
    color: #1f2937;
    font-size: 12px;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 36px;
    display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    justify-content: center;
    align-content: center;
}

.quote {
    width: 800px;
    height: auto;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-speaker {
    text-align: right;
}

.action-space {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 70px 50px;
    padding: 36px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    gap: 128px;
    
}

.action-msg-main {
    font-size: 24px;
    font-weight: bold;
}
.action-button {
    background: transparent;
    border: 1 #ffffff;
    font-size: 16px;
    font-weight: bold;   
    color: #f9faf8;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    color: #ffffff;
    font-size: 20px;
    padding: 48px;
    text-align: center;
}